<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>your resume</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/editable-span.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/share.css">
    
</head>
<body>
        
    <div class="page" id="app">
        <div class="btns" v-if=" mode==='edit'">
            <button v-on:click="showLogin">登录</button>
            <button v-on:click="handleSave">保存</button>
            <button v-on:click="shareVisible = true">分享</button>
            <button>打印</button>
            <button>换肤</button>
            <button v-on:click="mode='preview'">预览</button>
            
            <button v-on:click="logout" v-show="hasLogin()">登出</button>
        </div>
        
        <div class="resume">
            <section class="about">
                {{currentUser}}
                <h1>
                    <editable-span :disabled="mode==='preview'" v-bind:value="displayResume.name" v-on:edit="edit('name',$event)"></editable-span>
                </h1>
                <p>
                    <editable-span :disabled="mode==='preview'" v-bind:value="displayResume.jobIntention" v-on:edit="edit('jobIntention',$event)"></editable-span>
                </p>
                
                <p>
                    <editable-span :disabled="mode==='preview'" v-bind:value="displayResume.gender" v-on:edit="edit('gender',$event)"></editable-span>
                    |<editable-span :disabled="mode==='preview'" v-bind:value="displayResume.birthday" v-on:edit="edit('birthday',$event)"></editable-span>
                    |<editable-span :disabled="mode==='preview'" v-bind:value="displayResume.email" v-on:edit="edit('email',$event)"></editable-span>
                    |<editable-span :disabled="mode==='preview'" v-bind:value="displayResume.phone" v-on:edit="edit('phone',$event)"></editable-span>
                </p>
            </section>
    
            <section class="skills">
                <h2>技能</h2>
                <ul class="skillWrap">
                    <li v-for="(skill,index) in displayResume.skills">
                       <div>
                           <editable-span :disabled="mode==='preview'" v-bind:value="skill.name" v-on:edit="editSkill(index,'name',$event)" ></editable-span>
                           
                        </div>
                       <div>
                            <editable-span  :disabled="mode==='preview'" v-bind:value="skill.description" v-on:edit="editSkill(index,'description',$event)"></editable-span>
                        </div> 
                       
                        <span  v-show="index>=4" v-on:click="deleteSkill(index)" v-show="mode='eidt'">x</span>
                    </li>
                    <li v-if=" mode==='edit'">
                        <span v-on:click="addSkill">添加</span>
                    </li>
                </ul>
            </section>
    
    
            <section class="projiects">
                    <h2>项目</h2>
                <ul class="projectWrap" >
                    <li v-for="(project,index) in displayResume.projects">
                        <h3><editable-span :disabled="mode==='preview'" v-bind:value="project.name" v-on:edit="editProject(index,'name',$event)"></editable-span></h3>
                        <a href="#"><editable-span :disabled="mode==='preview'" v-bind:value="project.keywords" v-on:edit="editProject(index,'keywords',$event)"></editable-span></a>
                        <p><editable-span :disabled="mode==='preview'" v-bind:value="project.link" v-on:edit="editProject(index,'link',$event)"></editable-span></p>
                        <p><editable-span :disabled="mode==='preview'" v-bind:value="project.description" v-on:edit="editProject(index,'description',$event)"></editable-span></p>
                        <span  v-show="index>=2" v-on:click="deleteProject(index)" v-show="mode='eidt'">x</span>
                    </li>
                    <li v-if=" mode==='edit'">
                        <span v-on:click="addProject">添加</span>
                    </li>
                </ul>
            </section>
        </div>
        <div class="login" v-show="loginVisible" v-on:submit.prevent="onLogin">
            <form action="">
                <button type="button" v-on:click="loginVisible=false">关闭</button>
                <h2>登录</h2>
                <div class="row">
                    <label>邮箱</label>
                    <input type="email" v-model="login.email">
                </div>
                <div class="row">
                    <label>密码</label>
                    <input type="password" v-model="login.password">
                </div>
                <button type="submit">提交</button>
                <a href="#" v-on:click="loginVisible=false;registerVisible=true">注册</a>
            </form>
        </div>
        <div class="register" v-show="registerVisible" v-on:submit.prevent="onRegister">
            <form action="">
                <button type="button" v-on:click="registerVisible=false">关闭</button>
                <h2>注册</h2>
                <div class="row">
                    <label>邮箱</label>
                    <input type="email" v-model="register.email">
                </div>
                <div class="row">
                    <label>密码</label>
                    <input type="password" v-model="register.password">
                </div>
                <button type="submit">提交</button>
                <a href="#" v-on:click="registerVisible=false;loginVisible=true">登录</a href="#">
            </form>
        </div>
        <div class="share" v-show="shareVisible">
            <h2>复制以下链接分享</h2>
            <textarea readonly>{{shareLink}}</textarea>
            <span v-on:click="shareVisible=false">X</span>
        </div>
        <div class="quitPreview" v-if="mode==='preview'">
            <button v-on:click="mode='edit'">退出预览</button>
        </div>
        

    </div>


    <script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.7.3/dist/av-min.js"></script>
    <script>
    
        var APP_ID = 'OpuoKPUx8KV0qUbKhty3OpN4-gzGzoHsz';
        var APP_KEY = 'YzA3fLuKBsTkx3o94oFlv6TB';

        AV.init({
        appId: APP_ID,
        appKey: APP_KEY
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/editable-span.js"></script>
    <script src="js/app.js"></script>
    
    <script>

        
    
       
    </script>
    
</body>
</html>